@import "./variables.css";

::-webkit-scrollbar {
  width: 0;
}

#app {
  min-width: 300px;
  color: white;
}

.container {
  padding: 32px 16px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 24px;
}
