/* color palette */
:root {
    --c-white: #ffffff;
    --c-white-soft: #f8f8f8;
    --c-white-mute: #f2f2f2;
}

/* semantic color variables for this project */
:root {
    --small-gap: 10px;
    --medium-gap: 20px;
    --large-gap: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}
