@import './variables.css';
@import './fonts/fonts.css';

:root {
  --font-family: 'Wix Madefor Text'
}

::-webkit-scrollbar {
  width: 0;
}

.v-application {
  min-width: 300px;
  color: white;
  font-family: var(--font-family), sans-serif !important;
}

.v-application [class*='text-'] {
  font-family: var(--font-family), sans-serif !important;
}

.container {
  padding: 32px 16px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
